<div class="max-h-screen overflow-hidden">
  <app-navbar></app-navbar>

  <div
    class="relative z-10 min-h-screen flex items-center justify-center px-4 overflow-hidden"
    style="margin-top: -3.25rem"
  >
    <div class="radial-glow-bottom-right"></div>

    <div
      class="z-20 flex mt-10 md:mt-0 flex-col md:flex-row w-full max-w-3xl rounded-4xl border-2 border-white shadow-xl overflow-hidden"
      style="
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        max-height: 450px;
      "
    >
      <div
        class="w-full md:w-2/5 flex items-center justify-center p-6 overflow-hidden"
        style="max-height: 200px"
      >
        <img
          src="assets/old-computer.png"
          alt="404 Not Found"
          class="max-w-[200px] md:max-w-full max-h-full object-contain"
        />
      </div>
      <div
        class="w-full md:w-3/5 flex flex-col items-center justify-center p-8 text-center text-gray-500"
      >
        <h1 class="text-6xl font-bold mb-3">404</h1>
        <p class="text-base max-w-xs">
          Lo sentimos, la pàgina que esta buscando no existe o ha sido movida.
        </p>
      </div>
    </div>
  </div>
</div>
